.header{
    display: flex;
}
.header{
    background-color: #1B998B;
    padding: 5px;
    grid-area: QuoteHeader; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #EDEBE8;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.bxs-circle1{
    color: tomato;
}

.bxs-circle2{
    color: lightseagreen;
}
.bxs-circle3{
    color: lightblue;
}