.header{
    display: flex;
}
.header{
    background-color: #EDEBE8 ;
    padding: 5px;
    grid-area: QuoteHeader; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #312F2F;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /* gap: 50px; */
}

.icons{
    justify-content: flex-start;
}
.bxs-circle1{
    color: tomato;
}

.bxs-circle2{
    color: lightseagreen;
}
.bxs-circle3{
    color: lightblue;
}