.QuoteWindow{
    background-color: #1B998B;
    /* min-width: 60vw; */
    width: 70vw;
    height: 300px;
    min-height: 25vh;
    padding: 0;
    border-radius: 32px;
    border: #EDEBE8 4px solid;
    display: grid;
    /* box-shadow: 1px 1px 7px 2px rgba(255, 255, 255, 0.253); */
    /* ------------------------- */
    grid-template: 
        "QuoteHeader QuoteHeader QuoteHeader QuoteHeader"  45px
        "QuoteText   QuoteText   QuoteText   QuoteText"    100px
        ".           .           .           QuoteAuthor " 30px
        ".           .           .           ."            50px
        ".           QuoteButton QuoteButton ."            50px  /
        25%          25%         25%         25%    
    ;
}
.QuoteHeader{
    grid-area: QuoteHeader; 
    background-color: #0B6E4F;
}

.QuoteText{
    grid-area: QuoteText;
    /* background-color: #9DD446; */
}
.QuoteAuthor{
    grid-area: QuoteAuthor;
    /* background-color: #9DD446; */
}
.QuoteButton{
    grid-area: QuoteButton;
    background-color: #B7E3CC;
    border: none;
    border-radius: inherit;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #9DD446; */
}

.QuoteButton:hover{
    background-color: #B7E3CCBB;
}
.QuoteButton:active{
    background-color: #0B6E4F;
    color: #F8E5EE;
}
